{% extends 'base.html.twig' %}
  
{% block title %}Project{% endblock %}
  
{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Show Project</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_proyectos_index') }}"> 
                    View All Projects
                </a>
            </div>
            <div class="card-body">
                <b class="text-muted">Name:</b>
                <p>{{ proyecto.nombre }}</p>
                <b class="text-muted">Description:</b>
                <p>{{ proyecto.descripcion }}</p>
                <b class="text-muted">Link:</b>
                <p>{{ proyecto.repositorio }}</p>
                <b class="text-muted">Image:</b>
                <p>{{ proyecto.imagen }}</p>
            </div>
        </div>
    </div>
{% endblock %}